

<table class="container-fluid">
   <!--<tr>
     <td>Asian Cineplanet Multiplex: Kompally </td>
     <td> <nav><a routerLink="/selectseats"> 01:35 PM </a></nav></td>
     <td> <nav><a routerLink="/selectseats"> 04:35 PM </a></nav></td>
     <td> <nav><a routerLink="/selectseats"> 07:30 PM </a></nav></td>
     <td> <nav><a routerLink="/selectseats"> 10:20 PM </a></nav></td>
   </tr>-->
</table>
<div class="container-fluid">
  <div class="row">
        <div class="col-md-6" >
          <td style="padding-right: 50px">AMB Cinemas: Gachibowli  M-Ticket</td>

        </div>
        <div class="col-md-1">
          <td> <nav><a routerLink="/selectseats"> 01:25 PM </a></nav></td>

        </div>
        <div class="col-md-1">
          <td> <nav><a routerLink="/selectseats"> 04:10 PM </a></nav></td>

        </div>
        <div class="col-md-1">

          <td> <nav><a routerLink="/selectseats"> 07:15 PM </a></nav></td>

        </div>
        <div class="col-md-1">

          <td> <nav><a routerLink="/selectseats"> 10:25 PM </a></nav></td>

        </div>
      </div>
</div>
