<body>
<header>
  <p>
    <img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center"> available
    <img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center"> Booked
    <img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  selected
    <img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center"> Other
  </p>
</header>
<h3 id ="Gold">Gold 200R.s </h3>
<table>
  <tr>
    <td><img src="assets/movie_seats/A.jpg" alt="A" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>01<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>02<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>03<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>04<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>05<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>06<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>07<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>08<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>09<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>10<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>11<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>12<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>13<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>14<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>15<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>16<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>17<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>18<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>19<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>20<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>21<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>22<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>23<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

  </tr>
  <tr>
    <td><img src="assets/movie_seats/B.jpg" alt="B" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>24<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>25<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>26<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>27<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>28<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>29<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>30<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>31<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>32<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>33<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>34<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>35<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>36<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>37<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>38<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>39<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>40<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>41<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>42<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>43<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>44<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>45<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>46<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

  </tr></table>
<h3 id ="Silver"> Silver 150R.s</h3>
<table>
  <tr>
    <td><img src="assets/movie_seats/A.jpg" alt="A" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>01<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>02<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>03<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>04<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>05<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>06<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>07<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>08<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>09<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>10<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>11<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>12<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>13<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>14<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>15<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>16<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>17<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>18<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>19<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>20<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>21<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>22<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>23<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

  </tr>
  <tr>
    <td><img src="assets/movie_seats/B.jpg" alt="B" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>24<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>25<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>26<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>27<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>28<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>29<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>30<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>31<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>32<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>33<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>34<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>35<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>36<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>37<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>38<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>39<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>40<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>41<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>42<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>43<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>44<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>45<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>46<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

  </tr>
</table>
<h3 id ="bronze"> bronze 100R.s</h3>
<table>
  <tr>
    <td><img src="assets/movie_seats/A.jpg" alt="A" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>01<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>02<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>03<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>04<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>05<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>06<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>07<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>08<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>09<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>10<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>11<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>12<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>13<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>14<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>15<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>16<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>17<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>18<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>19<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>20<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>21<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>22<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>23<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

  </tr>
  <tr>
    <td><img src="assets/movie_seats/B.jpg" alt="B" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>24<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>25<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>26<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>27<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>28<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>29<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>30<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>31<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>32<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>33<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>34<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>35<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>36<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>37<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>38<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>39<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>40<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>41<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>42<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>43<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>44<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>45<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>
    <td>46<img src="assets/movie_seats/chair.jpg" alt="chair" width="30" height="30"  style="alignment:center">  </td>

  </tr></table>
<h1  id ="screen">Screen this way </h1>

</body>

