<!----Header part started-->
<div class="container-fluid">
  <header class="page-footer font-small blue" id="navigation">
    <div class="pb-1 mt-1 mb-0 border-bottom" >
      <div class="row">
        <div class="col-sm-1" >
          <nav>
            <a routerLink="/home" routerLinkActive="active" class="fa fa-home" aria-hidden="true" id="home">Home</a>
          </nav>
        </div>
        <div class="col-sm-7">
          <input type="text" placeholder="Search.." id="search">
        </div>
        <div class="col-sm-2">
          <nav>
            <a routerLink="/login" routerLinkActive="active" id="signin">signin&signup</a>
          </nav>
        </div>
        <div class="col-sm-2">
          <i class="fas fa-arrow-alt-circle-down fa-2x"></i>
        </div>
      </div>
    </div>
  </header>
</div>
