<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:background-color="http://www.w3.org/1999/xhtml">
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row">
        <div class="col-lg-1" >
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="col-lg-1">
          <i class="fas fa-th-list"></i>
        </div>
        <div class="col-lg-1">
          <i class="fas fa-th-large"></i>
        </div>
        <div class="col-lg-1">
          <i class="far fa-trash-alt" (click)="delete();"></i>
        </div>
        <div class="col-lg-1">
          <i class="far fa-edit" (click)="save();"></i>
        </div>
        <div class="col-lg-1">
          <i class="fas fa-lock"></i>
        </div>
        <div class="col-lg">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-lg-0-2"  type="search" name="notes" [(ngModel)]="userFilter.name"  placeholder="Type to filter by name">
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--
<ul>
  <li *ngFor="let user of records | filterBy: userFilter">
    {{ user.name }}
  </li>

   <li *ngIf="(records | filterBy: userFilter).length === 0">
    No matching elements
  </li>
</ul>
-->
 <div class="container">
  <div class="row">
    <div class="col-lg-3" style="background-color: antiquewhite"></div>
    <div class="col-lg-9">{{date}} </div>
 </div>
  <div class="row">
  <div class="col-lg-3" style="background-color: antiquewhite">
    <span>{{notes}}</span>
       <div *ngFor="let note of records| filterBy: userFilter.name">
         <tr (click)='touch(note);' [(ngModel)]="note" ngDefaultControl>{{ (note.length>35)? (note | slice:0:35)+'....':(note)  }}</tr>
      </div>
  </div>
    <div class="col-lg-9">
      <input [(ngModel)]="notes" type="text" placeholder="notes">
    </div>
  </div>
</div>
  <app-notes [records]="records"></app-notes>
